parameters:
	level: 8
	paths:
		- ./Controllers
		- ./templates
		- ./public
	latte:
		reportUnanalysedTemplates: true
		resolveAllPossiblePaths: true
		tmpDir: %currentWorkingDirectory%/compiledTemplates/phpstan-latte

services:
	- App\Renderer\TemplateResolver

includes:
	- ./vendor/efabrica/phpstan-latte/rules.neon
